<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SISXplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SISXplorer.Properties.Settings>
            <setting name="SplitterDistance" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="TreeView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 550</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HexFormat" serializeAs="String">
                <value>0:X</value>
            </setting>
            <setting name="HexViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoSIS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="E32Image" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MBMViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MIFViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TXTViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RSCViewer" serializeAs="String">
                <value>True</value>
            </setting>
        </SISXplorer.Properties.Settings>
    </userSettings>
</configuration>